# Part 1: download required variables for our analysis

### 1.1 List of Variables
- <span style="color: LightGreen"> we have collected 120 variables to test correlation between "Digital technology and Rural livelihood"</span>
- data category: (1) digital access, (2) financial inclusion, (3) economic indicator, (4) agriculture, (5) socio-economic, and (6) others
- target countries: （SouthEast Asia)'Vietnam', 'Laos', 'Thailand', 'Cambodia', 'Malaysia', 'Singapore', 'Myanmar', 'Philippines', 'Brunei', 'Indonesia', (South Asia) 'Bangladesh', 'India', 'Pakistan', 'Nepal', 'Sri Lanka', 'Bhutan'
- target year 2010-2023


#### (1) Digital Access and Technology Utilization Indicators
- "Mobile Cellular Subscriptions (per 100 people)"
- "Fixed Broadband Subsciptions (per 100 people)"
- "Made a digital in-store merchant payment: using a mobile phone (% age 15+)"
- "Made a digital in-store merchant payment: using a mobile phone, female (% age 15+)"
- "Made a digital in-store merchant payment: using a mobile phone, male (% age 15+)"
- "Made a digital in-store merchant payment: using a mobile phone, rural (% age 15+)"
- "Made a digital in-store merchant payment: using a mobile phone, urban (% age 15+)"
- "Made a utility payment: using a mobile phone (% age 15+)"
- "Own a mobile phone (% age 15+)"
- "Use a mobile phone or the internet to make payments, buy things, or to send or receive money using a financial institution account (% age 15+)"
- "Use a mobile phone or the internet to make payments, buy things, or to send or receive money using a financial institution account (% with a financial institution account, age 15+)"
- "Used a mobile phone or the internet to access a financial institution account (% age 15+)"
- "Used a mobile phone or the internet to access a financial institution account (% with a financial institution account, age 15+)"
- "Used a mobile phone or the internet to access an account (% with an account, age 15+)"
- "Used a mobile phone or the internet to access an account(% age 15+)"
- "Used a mobile phone or the internet to access an account, female (% age 15+)"
- "Used a mobile phone or the internet to access an account, male (% age 15+)"
- "Used a mobile phone or the internet to access an account, rural (% age 15+)"
- "Used a mobile phone or the internet to access an account, urban (% age 15+)"
- "Used a mobile phone or the internet to buy something online (% age 15+)"
- "Used a mobile phone or the internet to buy something online, female (% age 15+)"
- "Used a mobile phone or the internet to buy something online, male (% age 15+)"
- "Used a mobile phone or the internet to buy something online, rural (% age 15+)"
- "Used a mobile phone or the internet to buy something online, urban (% age 15+)"
- "Used a mobile phone or the internet to check account balance(% age 15+)"
- "Used a mobile phone or the internet to check account balance(% with a financial institution account, age 15+)"
- "Used a mobile phone or the internet to pay bills, female (% age 15+)"
- "Used a mobile phone or the internet to pay bills, male (% age 15+)"
- "Used a mobile phone or the internet to pay bills, rural (% age 15+)"
- "Used a mobile phone or the internet to pay bills, urban (% age 15+)"
- "Used a mobile phone or the internet to send money (% age 15+)"
- "Used a mobile phone or the internet to send money, female (% age 15+)"
- "Used a mobile phone or the internet to send money, male (% age 15+)"
- "Used a mobile phone or the internet to send money, rural (% age 15+)"
- "Used a mobile phone or the internet to send money, urban (% age 15+)"

#### (2) Financial Inclusion
- "Account (% age 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, richest 60% (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, secondary education or more (% of population ages 15+)"
- "Account ownership at a financial institution or with a mobile-money-service provider, young adults (% of population ages 15-24)"
- "Account, female (% age 15+)"
- "Account, male (% age 15+)"
- "Account, rural (% age 15+)"
- "Account, urban (% age 15+)"
- "Current account balance (% of GDP)"
- "Current account balance (BoP, current US$)"
- "Financial institution account (% age 15+)"
- "Financial institution account, female (% age 15+)"
- "Financial institution account, male (% age 15+)"
- "Financial institution account, rural (% age 15+)"
- "Financial institution account, urban (% age 15+)"
- "Made a deposit (% with a financial institution account, age 15+)"
- "Made a digital payment (% age 15+)"
- "Made a digital payment, female (% age 15+)"
- "Made a digital payment, male (% age 15+)"
- "Made a digital payment, rural (% age 15+)"
- "Made a digital payment, urban (% age 15+)"
- "Made a utility payment (% age 15+)"
- "Made a utility payment, female (% age 15+)"
- "Made a utility payment, male (% age 15+)"
- "Made a utility payment, rural (% age 15+)"
- "Made a utility payment, urban (% age 15+)"
- "Made a utility payment: using a financial institution account (% age 15+)"
- "Made a withdrawal (% with a financial institution account, age 15+)"
- "Made or received a digital payment (% age 15+)"
- "Made or received a digital payment, female (% age 15+)"
- "Made or received a digital payment, male (% age 15+)"
- "Made or received a digital payment, rural (% age 15+)"
- "Made or received a digital payment, urban (% age 15+)"
- "Mobile money account (% age 15+)"
- "Mobile money account, female (% age 15+)"
- "Mobile money account, male (% age 15+)"
- "Mobile money account, rural (% age 15+)"
- "Mobile money account, urban (% age 15+)"
- "Owns a debit or credit card (% age 15+)"
- "Owns a debit or credit card, female (% age 15+)"
- "Owns a debit or credit card, male (% age 15+)"
- "Owns a debit or credit card, rural (% age 15+)"
- "Owns a debit or credit card, urban (% age 15+)"
- "Received digital payments (% age 15+)"
- "Received digital payments, female (% age 15+)"
- "Received digital payments, male (% age 15+)"
- "Received digital payments, rural (% age 15+)"
- "Received digital payments, urban (% age 15+)"
- "Saved at a financial institution or using a mobile money account (% age 15+)"
- "Saved at a financial institution or using a mobile money account, female (% age 15+)"
- "Saved at a financial institution or using a mobile money account, male (% age 15+)"
- "Saved at a financial institution or using a mobile money account, rural (% age 15+)"
- "Saved at a financial institution or using a mobile money account, urban (% age 15+)"
- "Saved money using a mobile money account (% age 15+)"
- "Saved money using a mobile money account, female (% age 15+)"
- "Saved money using a mobile money account, male (% age 15+)"
- "Saved money using a mobile money account, rural (% age 15+)"
- "Saved money using a mobile money account, urban (% age 15+)"
- "Store money using a financial institution or a mobile money account (% age 15+)"
- "Store money using a financial institution or a mobile money account (% with an account,  age 15+)"
- "Store money using a mobile money account (% age 15+)"
- "Store money using a mobile money account (% with a mobile money account acount, age 15+)"

#### (3) Income and economic indicators
- "GDP per capita, PPP (constant 2021 international $)"
- "Population density (people per sq. km of land area)"
- "Population growth (annual %)"
- "Population, total"

#### (4) Indicators related to agriculture and food security
- "Agriculture, forestry, and fishing, value added (percent of GDP)"
- "Food supply quantity (kg/capita/yr)_Cereals - Excluding Beer"
- "Food supply quantity (kg/capita/yr)_Starchy Roots"
- "Crop production index (2014-2016 = 100)"
- "foodSupply_stability"
- "rolling_std"

#### (5) Social infrastructure and standard of living
- "Rural Access to Electricity(Percent of Population)"
- "Fertility rate, total (births per woman)"
- "Life expectancy at birth, total (years)"
- "Mortality rate, infant (per 1,000 live births)"
- "Rural population (% of total population)"
- "Urban population (% of total population)"

#### (6)Miscellaneous
- Poverty headcount ratio at national povrty lines (% of population) (결측 많음)

### 1.2 Necessary Lists & Functions

#### （１） import required packages

In [29]:
import requests
import pandas as pd
import faostat
from datetime import date
import re
import os

#### (2) set of parameters (country, year, and other)

In [30]:
# country list
asean_list = ['VNM','LAO','THA','KHM','MYS','SGP','MMR','PHL','BRN','IDN']
south_asia_list = ['BGD','IND','PAK','NPL','LKA','BTN']
all_countries_list = ['VNM','LAO','THA','KHM','MYS','SGP','MMR','PHL','BRN','IDN','BGD','IND','PAK','NPL','LKA','BTN']

indicators_wb = [
    {'indicator_ID': 'IT.NET.BBND.P2', 'name': 'Fixed Broadband Subscriptions (per 100 people)'},
    {'indicator_ID': 'IT.CEL.SETS.P2', 'name': 'Mobile Cellular Subscriptions (per 100 people)'},
    {'indicator_ID': 'EG.ELC.ACCS.RU.ZS', 'name': 'Access to Electricity, rural (% of Rural Pop.)'},
    {'indicator_ID': 'account.t.d', 'name': 'Account (% age 15+)'},
    {'indicator_ID': 'account.t.d.1', 'name': 'Account, female (% age 15+)'},
    {'indicator_ID': 'account.t.d.2', 'name': 'Account, male (% age 15+)'},
    {'indicator_ID': 'account.t.d.9', 'name': 'Account, rural (% age 15+)'},
    {'indicator_ID': 'account.t.d.10', 'name': 'Account, urban (% age 15+)'},
    {'indicator_ID': 'fin1.t.d','name': 'Financial institution account (% age 15+)'},{'indicator_ID': 'fin1.t.d.1','name': 'Financial institution account, female (% age 15+)'},
    {'indicator_ID': 'fin1.t.d.2', 'name': 'Financial institution account, male (% age 15+)'},
    {'indicator_ID': 'fin1.t.d.9','name': 'Financial institution account, rural (% age 15+)'},
    {'indicator_ID': 'fin1.t.d.10','name': 'Financial institution account, urban (% age 15+)'},
    {'indicator_ID': 'mobileaccount.t.d', 'name': 'Mobile money account (% age 15+)'},
    {'indicator_ID': 'mobileaccount.t.d.1','name': 'Mobile money account, female (% age 15+)'},
    {'indicator_ID': 'mobileaccount.t.d.2','name': 'Mobile money account, male (% age 15+)'},
    {'indicator_ID': 'mobileaccount.t.d.9','name': 'Mobile money account, rural (% age 15+)'},
    {'indicator_ID': 'mobileaccount.t.d.10','name': 'Mobile money account, urban (% age 15+)'},
    {'indicator_ID': 'Own.phone', 'name': 'Own a mobile phone (% age 15+)'},
    {'indicator_ID': 'fin2.7.t.d', 'name': 'Owns a debit or credit card (% age 15+)'},
    {'indicator_ID': 'fin2.7.t.d.1','name': 'Owns a debit or credit card, female (% age 15+)'},
    {'indicator_ID': 'fin2.7.t.d.2', 'name': 'Owns a debit or credit card, male (% age 15+)'},
    {'indicator_ID': 'fin2.7.t.d.9','name': 'Owns a debit or credit card, rural (% age 15+)'},
    {'indicator_ID': 'fin2.7.t.d.10','name': 'Owns a debit or credit card, urban (% age 15+)'},
    {'indicator_ID': 'SP.POP.TOTL', 'name': 'Population, total'},
    {'indicator_ID': 'SP.URB.TOTL.IN.ZS','name': 'Urban population (% of total population)'},
    {'indicator_ID': 'SP.RUR.TOTL.ZS','name': 'Rural population (% of total population)'},
    {'indicator_ID': 'SP.DYN.LE00.IN', 'name': 'Life expectancy at birth, total (years)'},
    {'indicator_ID': 'SP.DYN.IMRT.IN', 'name': 'Mortality rate, infant (per 1,000 live births)'},
    {'indicator_ID': 'EN.POP.DNST', 'name': 'Population density (people per sq. km of land area)'},
    {'indicator_ID': 'SI.POV.NAHC', 'name': 'Poverty headcount ratio at national poverty lines (% of population)'},
    {'indicator_ID': 'SP.POP.GROW', 'name': 'Population growth (annual %)'},
    {'indicator_ID': 'SP.DYN.TFRT.IN', 'name': 'Fertility rate, total (births per woman)'},
    {'indicator_ID': 'NY.GDP.PCAP.PP.KD', 'name': 'GDP per capita, PPP (constant 2021 international $)'}
]

indicators_faoCredit = {
    'db': 'IC',
    'dbName': 'Credit to Agriculture',
    'element': {'Value US$, 2015 prices': '6179'},
    'item': {'Credit to Agriculture, Forestry and Fishing': '23068'},
    'area': {'-- Southern Asia > (List)': '5303>', '-- South-eastern Asia > (List)': '5304>'},
    'year': [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
}

indicators_faoAddedValue = {
    'db': 'MK',
    'dbName': 'Macro Indicators',
    'element': {'Value US$, 2015 prices': '6179'},
    'item': {'Value Added (Agriculture, Forestry and Fishing)': '22016', 'Value Added (Manufacture of food and beverages)': '22077'},
    'area': {'-- Southern Asia > (List)': '5303>', '-- South-eastern Asia > (List)': '5304>'},
    'year': [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
}

indicators_faoFertilizer = {
    'db': 'RFN',
    'dbName': 'Fertilizers by Nutrient',
    'element': {'Use per area of cropland': '5159'},
    'item': {'Nutrient nitrogen N (total)': '3102'},
    'area': {'-- Southern Asia > (List)': '5303>', '-- South-eastern Asia > (List)': '5304>'},
    'year': [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
}

indicators_fao = [
    indicators_faoAddedValue, indicators_faoCredit, indicators_faoFertilizer
]

### (3) set of functions for data importation through API

- Out of indicator list, most of the data are available for download through API except for IMF data. So i prepared two function, <span style="color: LightGreen">importWB</span> and <span style="color: LightGreen">importFAO</span>
- Additionally, i create function <span style="color: LightGreen">save_csv_with_incremental_number</span> to save CSV file with series of number

In [36]:
# three function
# (1) importWB(indicatorId, indicatorName, countries, startYear, endYear, savetoCsv=False)
# (2) importFAO(myParam, pivot=False, savetoCsv=False)
# (3) save_csv_with_incremental_number(df, base_filename, directory='.')
# (4) merge_and_count(df_1, df_2, how = 'inner')

# Set the root directory for saving data
root = '../Data/processed/'


# iimportWB
def importWB(indicatorId, indicatorName, countries, startYear, endYear, savetoCsv=False):
    """
    Fetches data from the World Bank API for a specified indicator, country/countries, and year range.

    Parameters:
        indicatorId (str): The World Bank indicator code (e.g., 'SP.POP.TOTL').
        indicatorName (str): The name to assign to the indicator column in the output DataFrame.
        countries (str or list): A single country code or a list of country codes (e.g., 'VNM' or ['VNM', 'THA']).
        startYear (int): The starting year for data retrieval.
        endYear (int): The ending year for data retrieval.
        savetoCsv (bool): If True, saves the resulting DataFrame as a CSV file.

    Returns:
        pd.DataFrame: A DataFrame containing columns ['country', 'Year', indicatorName] with the requested data.
                      Returns an empty DataFrame if no data is found.
    """
    # connect countries to string
    if isinstance(countries, list):
        country_str = ';'.join(countries)
    else:
        country_str = countries

    url = f"https://api.worldbank.org/v2/country/{country_str}/indicator/{indicatorId}"
    params = {
        'date': f"{startYear}:{endYear}",
        'format': 'json',
    }
    response = requests.get(url, params=params)
    data = response.json()

    # Extract data part
    if len(data) > 1:
        records = data[1]
        df = pd.DataFrame(records)
        # Extract only necessary columns
        df = df[['country', 'date', 'value']]
        df['country'] = df['country'].apply(lambda x: x['id'])
        df = df.rename(columns={'date': 'year', 'value': indicatorName})
        if savetoCsv:
            df.to_csv(
                f"{root}/temp/{indicatorName}_{startYear}_{endYear}.csv", index=False)
        return df
    else:
        print("No data found.")
        return pd.DataFrame()


# importFAO function
def importFAO(myParam, pivot=False, savetoCsv=False):
    """
    Fetches data from the FAO (Food and Agriculture Organization) database using the faostat package,
    based on the parameters provided in a dictionary.

    Parameters:
        myParam (dict): A dictionary specifying the FAO database, elements, items, areas, and years to retrieve.
                        Example keys: 'db', 'element', 'item', 'area', 'year'.
        pivot (bool): If True, returns a pivoted DataFrame with unique columns for each element-item combination.
                      If False, returns the raw FAO data.
        savetoCsv (bool): If True, saves the resulting DataFrame as a CSV file.

    Returns:
        pd.DataFrame: The requested FAO data as a DataFrame.
                      If pivot=True, the DataFrame is pivoted by element and item.
                      If savetoCsv=True, the DataFrame is also saved as a CSV file.

    example parameters: FBSData
    FBSdata = {'db': 'FBS',
               'dbName': 'Food Balances (2010-)',
               'element': {'Food supply quantity (kg/capita/yr)': '645'},
               'item': {'Cereals - Excluding Beer + (Total)': '2905', 'Starchy Roots + (Total)': '2907'},
               'area':  {'-- Southern Asia > (List)': '5303>', '-- South-eastern Asia > (List)': '5304>'},
               'year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
               }
    """

    # Define parameters for importFAO: area, element, item, year using a dictionary
    def setParams(dbDictionary):
        db = dbDictionary['db']
        element_list = list(dbDictionary['element'].values())
        item_list = list(dbDictionary['item'].values())
        area_list = list(dbDictionary['area'].values())
        year_list = dbDictionary['year']
        result = {
            'db': db,
            'element': element_list,
            'item': item_list,
            'area': area_list,
            'year': year_list
        }
        return result

    # Set parameters for the FAO database
    params = setParams(myParam)

    # # Get the start and end year from the parameters
    # startYear = min(myParam['year'])
    # endYear = max(myParam['year'])

    # Download data as a pandas DataFrame
    df = faostat.get_data_df(params['db'], pars=params)
    
    # Change column name into small letter
    df = df.rename(columns={'Area': 'country', 'Year': 'year'})

    if pivot == False:
        # if pivot = false, return the raw data
        if savetoCsv:
            today = date.today()
            # Create a filename with the current date
            save_csv_with_incremental_number(
                df, f"fao_{today}", f"{root}/temp/")
            # df.to_csv(
            #     f"{root}/temp/{indicator_Name}_{startYear}_{endYear}.csv", index=False)
            return df
        else:
            return df
    else:
        # if pivot = True, df is transformed by using "element" and "item"
        # Combine 'element' and 'item' into a single column for unique column names
        df['col_name'] = df['Element'] + '_' + df['Item']

        # convert text to numeric, it not working give NA
        df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

        # Rename 'Area' to 'country'
        if 'Area' in df.columns:
            df = df.rename(columns={'Area': 'country'})

        # Pivot the table
        df_pivot = df.pivot_table(
            index=['country', 'year'],
            columns='col_name',
            values='Value'
        ).reset_index()

        if savetoCsv:
            today = date.today()
            # Create a filename with the current date
            save_csv_with_incremental_number(
                df_pivot, f"fao_{today}", f"{root}/temp/")
            # df.to_csv(
            #     f"{root}/temp/{indicator_Name}_{startYear}_{endYear}.csv", index=False)
            return df_pivot
        else:
            return df_pivot
    # # example parameters: FBSData  ####################################
    # FBSdata = {'db': 'FBS',
    #            'dbName': 'Food Balances (2010-)',
    #            'element': {'Food supply quantity (kg/capita/yr)': '645'},
    #            'item': {'Cereals - Excluding Beer + (Total)': '2905', 'Starchy Roots + (Total)': '2907'},
    #            'area':  {'-- Southern Asia > (List)': '5303>', '-- South-eastern Asia > (List)': '5304>'},
    #            'year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    #            }
    #######################################################################
        

# Function to save a DataFrame to a CSV file with an incremental number in the filename
def save_csv_with_incremental_number(df, base_filename, directory='.'):
    # create directory if not exists
    if not os.path.exists(directory):
        os.makedirs(directory)

    # find current file number and assign new number 
    number = 1
    while True:
        filename = f"{base_filename}_{number}.csv"
        filepath = os.path.join(directory, filename)
        if not os.path.exists(filepath):
            break
        number += 1

    # save DataFrame in CSV format
    df.to_csv(filepath, index=False)
    return filepath

# usage
# sample_data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
# df = pd.DataFrame(sample_data)
# saved_path = save_csv_with_incremental_number(df, 'sample')
# print(saved_path)  # 例: ./sample-1.csv


def merge_and_count(df_1, df_2, how = 'inner'):
    """
    Merge two DataFrames on 'country' and 'year' columns, and print summary statistics before and after merging.

    Parameters:
        df_1 (pd.DataFrame): The first DataFrame to merge.
        df_2 (pd.DataFrame): The second DataFrame to merge.
        how (str): Type of merge to be performed ('inner', 'outer', 'left', 'right'). Default is 'inner'.

    Returns:
        pd.DataFrame: The merged DataFrame.

    This function:
    - Resets the index if 'country' and 'year' are in the index of either DataFrame.
    - Merges the two DataFrames on 'country' and 'year'.
    - Prints the number of rows and unique countries in each DataFrame before merging.
    - Prints the number of rows and unique countries in the merged DataFrame.
    - Prints the list of countries from df_1 that are dropped after merging.
    """
        
    # Rename 'Year' to 'year' if needed
    if 'Year' in df_1.columns:
        df_1 = df_1.rename(columns={'Year': 'year'})
    if 'Year' in df_2.columns:
        df_2 = df_2.rename(columns={'Year': 'year'})

    country_col = 'country'
    date_col = 'year'
    # Reset index if 'country' and 'year' are in the index
    if country_col in df_1.index.names and date_col in df_1.index.names:
        df_1 = df_1.reset_index()
    if country_col in df_2.index.names and date_col in df_2.index.names:
        df_2 = df_2.reset_index()
    rows_df_1, rows_df_2 = len(df_1), len(df_2)
    merged_df = pd.merge(df_1, df_2, how=how, on=[country_col, date_col])

    countries_df_1 = df_1[country_col].unique()
    countries_merged = merged_df[country_col].unique()

    dropped_countries = set(countries_df_1) - set(countries_merged)

    rows_merged = len(merged_df)
    countries_df_1_count, countries_merged_count = (
        len(countries_df_1),
        len(countries_merged)
    )

    print(f"Rows in df_1: {rows_df_1}, Countries in df_1: {countries_df_1_count}")
    print(f"Rows in df_2: {rows_df_2}, Countries in df_2: {countries_merged_count}")
    print(f"Rows in merged DataFrame: {rows_merged}, Countries in merged DataFrame: {countries_merged_count}")
    print(f"Dropped countries from df_1: {list(dropped_countries)}")

    return merged_df

### 1.3 download dataset using API

- download from WB

In [32]:
# download all WB dataset through API endpoint
df_set = {}
for mydata in indicators_wb:
    dataName = mydata['name']
    dataId = mydata['indicator_ID']

    df_set[dataName] = importWB(
        indicatorId = dataId, 
        indicatorName = dataName, 
        countries = all_countries_list, 
        startYear = 2011, 
        endYear = 2014
        )
    print(f"data {dataName} downloaded!")

# merge all dataset into one csv using "country"*"year" as key
mydf = None
for df in df_set.values():
    if mydf is None:
        mydf = df
    else:
        mydf = merge_and_count(mydf, df, how='outer')
        print(f"data {df.columns[2]} have merged")

print(mydf.describe())
save_csv_with_incremental_number(mydf, 'dataset_wb', root + 'temp')

data Fixed Broadband Subscriptions (per 100 people) downloaded!
data Mobile Cellular Subscriptions (per 100 people) downloaded!
data Access to Electricity, rural (% of Rural Pop.) downloaded!
data Account (% age 15+) downloaded!
data Account, female (% age 15+) downloaded!
data Account, male (% age 15+) downloaded!
data Account, rural (% age 15+) downloaded!
data Account, urban (% age 15+) downloaded!
data Financial institution account (% age 15+) downloaded!
data Financial institution account, female (% age 15+) downloaded!
data Financial institution account, male (% age 15+) downloaded!
data Financial institution account, rural (% age 15+) downloaded!
data Financial institution account, urban (% age 15+) downloaded!
data Mobile money account (% age 15+) downloaded!
data Mobile money account, female (% age 15+) downloaded!
data Mobile money account, male (% age 15+) downloaded!
data Mobile money account, rural (% age 15+) downloaded!
data Mobile money account, urban (% age 15+) downloaded!
data Own a mobile phone (% age 15+) downloaded!
data Owns a debit or credit card (% age 15+) downloaded!
data Owns a debit or credit card, female (% age 15+) downloaded!
data Owns a debit or credit card, male (% age 15+) downloaded!
data Owns a debit or credit card, rural (% age 15+) downloaded!
data Owns a debit or credit card, urban (% age 15+) downloaded!
data Population, total downloaded!
data Urban population (% of total population) downloaded!
data Rural population (% of total population) downloaded!
data Life expectancy at birth, total (years) downloaded!
data Mortality rate, infant (per 1,000 live births) downloaded!
data Population density (people per sq. km of land area) downloaded!
data Poverty headcount ratio at national poverty lines (% of population) downloaded!
data Population growth (annual %) downloaded!
data Fertility rate, total (births per woman) downloaded!
data GDP per capita, PPP (constant 2021 international $) downloaded!
Rows in df_1: 50, Countries in df_1: 13
Rows in df_2: 50, Countries in df_2: 13
Rows in merged DataFrame: 50, Countries in merged DataFrame: 13
Dropped countries from df_1: []
data Mobile Cellular Subscriptions (per 100 people) have merged
Rows in df_1: 50, Countries in df_1: 13
Rows in df_2: 50, Countries in df_2: 13
Rows in merged DataFrame: 50, Countries in merged DataFrame: 13
Dropped countries from df_1: []
data Access to Electricity, rural (% of Rural Pop.) have merged
Rows in df_1: 50, Countries in df_1: 13
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Account (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Account, female (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Account, male (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Account, rural (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Account, urban (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Financial institution account (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Financial institution account, female (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Financial institution account, male (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Financial institution account, rural (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Financial institution account, urban (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Mobile money account (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Mobile money account, female (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Mobile money account, male (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Mobile money account, rural (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Mobile money account, urban (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Own a mobile phone (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Owns a debit or credit card (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Owns a debit or credit card, female (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Owns a debit or credit card, male (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Owns a debit or credit card, rural (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 30, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Owns a debit or credit card, urban (% age 15+) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Population, total have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Urban population (% of total population) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Rural population (% of total population) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Life expectancy at birth, total (years) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Mortality rate, infant (per 1,000 live births) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Population density (people per sq. km of land area) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Poverty headcount ratio at national poverty lines (% of population) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Population growth (annual %) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data Fertility rate, total (births per woman) have merged
Rows in df_1: 80, Countries in df_1: 28
Rows in df_2: 50, Countries in df_2: 28
Rows in merged DataFrame: 80, Countries in merged DataFrame: 28
Dropped countries from df_1: []
data GDP per capita, PPP (constant 2021 international $) have merged
       Fixed Broadband Subscriptions (per 100 people)  \
count                                       47.000000
mean                                         2.287161
std                                          2.780868
min                                          0.044310
25%                                          0.500906
50%                                          1.171700
75%                                          2.577330
max                                          9.971940

       Mobile Cellular Subscriptions (per 100 people)  \
count                                       50.000000
mean                                        85.987738
std                                         33.252103
min                                          2.497502
25%                                         66.510407
50%                                         82.587038
75%                                        110.248528
max                                        146.794505

       Access to Electricity, rural (% of Rural Pop.)  Account (% age 15+)  \
count                                       50.000000            27.000000
mean                                        73.962000            42.661481
std                                         21.521341            27.278088
min                                         22.800000             3.660000
25%                                         58.775000            24.045000
50%                                         81.100000            31.740000
75%                                         89.775000            67.350000
max                                        100.000000            98.220000

       Account, female (% age 15+)  Account, male (% age 15+)  \
count                    27.000000                  27.000000
mean                     40.402963                  44.877037
std                      28.138475                  27.037436
min                       2.950000                   3.600000
25%                      20.860000                  24.345000
50%                      31.270000                  35.370000
75%                      65.170000                  69.605000
max                      98.210000                  98.230000

       Financial institution account (% age 15+)  \
count                                  27.000000
mean                                   41.929630
std                                    27.891003
min                                     3.660000
25%                                    23.965000
50%                                    31.740000
75%                                    67.350000
max                                    98.220000

       Financial institution account, female (% age 15+)  \
count                                          27.000000
mean                                           39.734815
std                                            28.610536
min                                             2.950000
25%                                            20.215000
50%                                            31.270000
75%                                            65.170000
max                                            98.210000

       Financial institution account, male (% age 15+)  \
count                                        27.000000
mean                                         44.089259
std                                          27.720198
min                                           3.600000
25%                                          22.985000
50%                                          34.620000
75%                                          69.605000
max                                          98.230000

       Mobile money account (% age 15+)  ...  Population, total  \
count                         13.000000  ...       5.000000e+01
mean                           3.090000  ...       1.687074e+08
std                            3.707108  ...       3.433108e+08
min                            0.080000  ...       3.993890e+05
25%                            0.450000  ...       1.477821e+07
50%                            2.350000  ...       2.941244e+07
75%                            4.230000  ...       1.576067e+08
max                           13.290000  ...       1.312277e+09

       Urban population (% of total population)  \
count                                 50.000000
mean                                  38.201020
std                                   18.360022
min                                   17.108000
25%                                   29.122750
50%                                   32.435500
75%                                   46.045500
max                                   76.332000

       Rural population (% of total population)  \
count                                 50.000000
mean                                  61.798980
std                                   18.360022
min                                   23.668000
25%                                   53.954500
50%                                   67.564500
75%                                   70.877250
max                                   82.892000

       Life expectancy at birth, total (years)  \
count                                50.000000
mean                                 69.404360
std                                   3.717374
min                                  63.859000
25%                                  67.183250
50%                                  68.897000
75%                                  70.418250
max                                  75.757000

       Mortality rate, infant (per 1,000 live births)  \
count                                       50.000000
mean                                        32.008000
std                                         18.323798
min                                          6.500000
25%                                         22.325000
50%                                         32.050000
75%                                         44.075000
max                                         71.600000

       Population density (people per sq. km of land area)  \
count                                          50.000000
mean                                          248.978259
std                                           309.466241
min                                            18.610515
25%                                            77.122867
50%                                           133.731951
75%                                           330.565301
max                                          1213.527917

       Poverty headcount ratio at national poverty lines (% of population)  \
count                                          10.000000
mean                                           19.560000
std                                             8.428154
min                                            11.300000
25%                                            12.125000
50%                                            19.100000
75%                                            22.350000
max                                            36.300000

       Population growth (annual %)  Fertility rate, total (births per woman)  \
count                     50.000000                                 50.000000
mean                       1.157593                                  2.512460
std                        0.720138                                  0.577716
min                       -2.799683                                  1.923000
25%                        0.916678                                  2.153500
50%                        1.309271                                  2.314000
75%                        1.500239                                  2.740000
max                        2.236909                                  4.305000

       GDP per capita, PPP (constant 2021 international $)
count                                          50.000000
mean                                        14569.064891
std                                         22500.039025
min                                          3176.650406
25%                                          4444.607810
50%                                          5853.357790
75%                                         11195.345698
max                                         90279.663340

[8 rows x 25 columns]

'../Data/processed/temp/dataset_wb_4.csv'

- download from FAO

In [37]:
# download all WB dataset through API endpoint
df_set = {}
for mydata in indicators_fao:
    dataName = mydata['dbName']

    df_set[dataName] = importFAO(myParam = mydata, pivot = True)
    print(f"data {dataName} downloaded!")

# merge all dataset into one csv using "country"*"year" as key
mydf = None
for df in df_set.values():
    if mydf is None:
        mydf = df
    else:
        mydf = merge_and_count(mydf, df, how='outer')
        print(f"data {df.columns[2]} have merged")

print(mydf.describe())
save_csv_with_incremental_number(mydf, 'dataset_fao', root + 'temp')

data Macro Indicators downloaded!
data Credit to Agriculture downloaded!
data Fertilizers by Nutrient downloaded!
Rows in df_1: 300, Countries in df_1: 20
Rows in df_2: 226, Countries in df_2: 20
Rows in merged DataFrame: 300, Countries in merged DataFrame: 20
Dropped countries from df_1: []
data Value US$, 2015 prices_Credit to Agriculture, Forestry and Fishing have merged
Rows in df_1: 300, Countries in df_1: 20
Rows in df_2: 259, Countries in df_2: 20
Rows in merged DataFrame: 300, Countries in merged DataFrame: 20
Dropped countries from df_1: []
data Use per area of cropland_Nutrient nitrogen N (total) have merged
col_name  Value US$, 2015 prices_Value Added (Agriculture, Forestry and Fishing)  \
count                                            300.000000
mean                                           42604.996360
std                                            88776.621592
min                                               86.701944
25%                                             1702.438638
50%                                            10975.053460
75%                                            37950.064131
max                                           511822.147788

col_name  Value US$, 2015 prices_Value Added (Manufacture of food and beverages)  \
count                                             60.000000
mean                                           11742.065850
std                                            11821.274177
min                                              392.554938
25%                                             3199.641164
50%                                             7533.907032
75%                                            20358.504346
max                                            41019.770013

col_name  Value US$, 2015 prices_Credit to Agriculture, Forestry and Fishing  \
count                                            226.000000
mean                                           13549.424694
std                                            33528.487808
min                                                0.588521
25%                                              289.347549
50%                                             2742.169816
75%                                             7968.895814
max                                           198984.276640

col_name  Use per area of cropland_Nutrient nitrogen N (total)
count                                            259.000000
mean                                              55.788571
std                                               42.513513
min                                                0.020000
25%                                               19.765000
50%                                               51.350000
75%                                               74.210000
max                                              173.310000

'../Data/processed/temp/dataset_fao_3.csv'

## Part2: data cleaning and merging

### 2.1 Necessary Lists & Functions

- we created three functions as follows
- cleanUp(data): (1) filter by year and country, (2) check and unify data type, (3) unify key index name and, (4) set index by country and year
- basic_stats(df): confirm data range for "country" and year, count number of observation, and other

In [47]:
# country list
asean_list = ['VNM','LAO','THA','KHM','MYS','SGP','MMR','PHL','BRN','IDN']
south_asia_list = ['BGD','IND','PAK','NPL','LKA','BTN']
all_countries_list = ['VNM','LAO','THA','KHM','MYS','SGP','MMR','PHL','BRN','IDN','BGD','IND','PAK','NPL','LKA','BTN']
contry_code = {
    'Bangladesh': 'BGD',
    'Bhutan': 'BTN',
    'Brunei Darussalam': 'BRN',
    'Cambodia': 'KHM',
    'India': 'IND',
    'Indonesia': 'IDN',
    "Lao People's Democratic Republic": 'LAO',
    'Malaysia': 'MYS',
    'Myanmar': 'MMR',
    'Nepal': 'NPL',
    'Pakistan': 'PAK',
    'Philippines': 'PHL',
    'Singapore': 'SGP',
    'Sri Lanka': 'LKA',
    'Thailand': 'THA',
    'Viet Nam': 'VNM'
}

# Data Cleaning
def cleanUp(data):
    data = data[data['country'].isin(all_countries_list)]
    # Always decode all bytes in 'year' column if any exist
    if data['year'].apply(lambda x: isinstance(x, bytes)).any():
        data['year'] = data['year'].apply(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)
    first_year_value = data['year'].iloc[0]
    if isinstance(first_year_value, bytes):
        first_year_value = first_year_value.decode('utf-8')
    if re.match(r'^\d{4}-\d{2}-\d{2}$', str(first_year_value)):
        data['year'] = pd.to_datetime(data['year']).dt.year
    data = data.drop(data[data['year'] <= 2010].index)
    data = data.set_index(['country','year'])
    return data

def basic_stats(df):
    # Handle index vs columns for country/year
    if 'country' in df.index.names and 'year' in df.index.names:
        countries = df.index.get_level_values('country').unique().tolist()
        years = df.index.get_level_values('year')
    else:
        countries = df['country'].unique().tolist()
        years = df['year']
    
    # Calculate time range
    time_series = f"{years.min()} ~ {years.max()}"
    
    # Handle column dropping safely
    cols_to_drop = [col for col in ['country', 'year'] if col in df.columns]
    missing_data_summary = df.drop(cols_to_drop, axis=1).notna().sum()

    # get column count
    num_columns = df.shape[1]
    
    return {
        'countries (first 5)': countries[:5],
        'country_count': len(countries),
        'time_series': time_series,
        'variable_count': num_columns,
        'observations_bycolumn': missing_data_summary
    }

## 2.2 import all dataset

In [48]:
df_wb = pd.read_csv("../data/processed/temp/dataset_wb_1.csv")
df_fao = pd.read_csv("../data/processed/temp/dataset_fao_1.csv")


## 2.3 clean WB dataset

In [ ]:
df_wb_clean = cleanUp(df_wb)
df_wb_clean.head(10)

              Fixed Broadband Subscriptions (per 100 people)  \
country year
BGD     2011                                             NaN
        2014                                             NaN
BTN     2011                                             NaN
        2014                                             NaN
IDN     2011                                             NaN
        2014                                             NaN
IND     2011                                             NaN
        2014                                             NaN
KHM     2011                                             NaN
        2014                                             NaN

              Mobile Cellular Subscriptions (per 100 people)  \
country year
BGD     2011                                             NaN
        2014                                             NaN
BTN     2011                                             NaN
        2014                                             NaN
IDN     2011                                             NaN
        2014                                             NaN
IND     2011                                             NaN
        2014                                             NaN
KHM     2011                                             NaN
        2014                                             NaN

              Access to Electricity, rural (% of Rural Pop.)  \
country year
BGD     2011                                             NaN
        2014                                             NaN
BTN     2011                                             NaN
        2014                                             NaN
IDN     2011                                             NaN
        2014                                             NaN
IND     2011                                             NaN
        2014                                             NaN
KHM     2011                                             NaN
        2014                                             NaN

              Account (% age 15+)  Account, female (% age 15+)  \
country year
BGD     2011                31.74                        26.01
        2014                30.99                        26.45
BTN     2011                  NaN                          NaN
        2014                33.67                        27.68
IDN     2011                19.58                        19.21
        2014                36.06                        37.46
IND     2011                35.23                        26.49
        2014                53.14                        43.13
KHM     2011                 3.66                         3.71
        2014                22.17                        20.50

              Account, male (% age 15+)  Account, rural (% age 15+)  \
country year
BGD     2011                      37.29                         NaN
        2014                      35.37                         NaN
BTN     2011                        NaN                         NaN
        2014                      38.99                         NaN
IDN     2011                      19.97                         NaN
        2014                      34.62                         NaN
IND     2011                      43.74                         NaN
        2014                      62.76                         NaN
KHM     2011                       3.60                         NaN
        2014                      24.29                         NaN

              Account, urban (% age 15+)  \
country year
BGD     2011                         NaN
        2014                         NaN
BTN     2011                         NaN
        2014                         NaN
IDN     2011                         NaN
        2014                         NaN
IND     2011                         NaN
        2014                         NaN
KHM     2011                         NaN
        2014                         NaN

              Financial institution account (% age 15+)  \
country year
BGD     2011                                      31.74
        2014                                      29.14
BTN     2011                                        NaN
        2014                                      33.67
IDN     2011                                      19.58
        2014                                      35.95
IND     2011                                      35.23
        2014                                      52.75
KHM     2011                                       3.66
        2014                                      12.56

              Financial institution account, female (% age 15+)  ...  \
country year                                                     ...
BGD     2011                                              26.01  ...
        2014                                              25.22  ...
BTN     2011                                                NaN  ...
        2014                                              27.68  ...
IDN     2011                                              19.21  ...
        2014                                              37.24  ...
IND     2011                                              26.49  ...
        2014                                              42.64  ...
KHM     2011                                               3.71  ...
        2014                                              10.68  ...

              Population, total  Urban population (% of total population)  \
country year
BGD     2011                NaN                                       NaN
        2014                NaN                                       NaN
BTN     2011                NaN                                       NaN
        2014                NaN                                       NaN
IDN     2011                NaN                                       NaN
        2014                NaN                                       NaN
IND     2011                NaN                                       NaN
        2014                NaN                                       NaN
KHM     2011                NaN                                       NaN
        2014                NaN                                       NaN

              Rural population (% of total population)  \
country year
BGD     2011                                       NaN
        2014                                       NaN
BTN     2011                                       NaN
        2014                                       NaN
IDN     2011                                       NaN
        2014                                       NaN
IND     2011                                       NaN
        2014                                       NaN
KHM     2011                                       NaN
        2014                                       NaN

              Life expectancy at birth, total (years)  \
country year
BGD     2011                                      NaN
        2014                                      NaN
BTN     2011                                      NaN
        2014                                      NaN
IDN     2011                                      NaN
        2014                                      NaN
IND     2011                                      NaN
        2014                                      NaN
KHM     2011                                      NaN
        2014                                      NaN

              Mortality rate, infant (per 1,000 live births)  \
country year
BGD     2011                                             NaN
        2014                                             NaN
BTN     2011                                             NaN
        2014                                             NaN
IDN     2011                                             NaN
        2014                                             NaN
IND     2011                                             NaN
        2014                                             NaN
KHM     2011                                             NaN
        2014                                             NaN

              Population density (people per sq. km of land area)  \
country year
BGD     2011                                                NaN
        2014                                                NaN
BTN     2011                                                NaN
        2014                                                NaN
IDN     2011                                                NaN
        2014                                                NaN
IND     2011                                                NaN
        2014                                                NaN
KHM     2011                                                NaN
        2014                                                NaN

              Poverty headcount ratio at national poverty lines (% of population)  \
country year
BGD     2011                                                NaN
        2014                                                NaN
BTN     2011                                                NaN
        2014                                                NaN
IDN     2011                                                NaN
        2014                                                NaN
IND     2011                                                NaN
        2014                                                NaN
KHM     2011                                                NaN
        2014                                                NaN

              Population growth (annual %)  \
country year
BGD     2011                           NaN
        2014                           NaN
BTN     2011                           NaN
        2014                           NaN
IDN     2011                           NaN
        2014                           NaN
IND     2011                           NaN
        2014                           NaN
KHM     2011                           NaN
        2014                           NaN

              Fertility rate, total (births per woman)  \
country year
BGD     2011                                       NaN
        2014                                       NaN
BTN     2011                                       NaN
        2014                                       NaN
IDN     2011                                       NaN
        2014                                       NaN
IND     2011                                       NaN
        2014                                       NaN
KHM     2011                                       NaN
        2014                                       NaN

              GDP per capita, PPP (constant 2021 international $)
country year
BGD     2011                                                NaN
        2014                                                NaN
BTN     2011                                                NaN
        2014                                                NaN
IDN     2011                                                NaN
        2014                                                NaN
IND     2011                                                NaN
        2014                                                NaN
KHM     2011                                                NaN
        2014                                                NaN

[10 rows x 34 columns]

In [40]:
basic_stats(df_wb_clean)

{'countries (first 5)': ['BGD', 'BTN', 'IDN', 'IND', 'KHM'],
 'country_count': 15,
 'time_series': '2011 ~ 2014',
 'variable_count': 34,
 'observations_bycolumn': Fixed Broadband Subscriptions (per 100 people)                          0
 Mobile Cellular Subscriptions (per 100 people)                          0
 Access to Electricity, rural (% of Rural Pop.)                          0
 Account (% age 15+)                                                    27
 Account, female (% age 15+)                                            27
 Account, male (% age 15+)                                              27
 Account, rural (% age 15+)                                              0
 Account, urban (% age 15+)                                              0
 Financial institution account (% age 15+)                              27
 Financial institution account, female (% age 15+)                      27
 Financial institution account, male (% age 15+)                        27
 Financial institution account, rural (% age 15+)                        0
 Financial institution account, urban (% age 15+)                        0
 Mobile money account (% age 15+)                                       13
 Mobile money account, female (% age 15+)                               13
 Mobile money account, male (% age 15+)                                 13
 Mobile money account, rural (% age 15+)                                 0
 Mobile money account, urban (% age 15+)                                 0
 Own a mobile phone (% age 15+)                                          0
 Owns a debit or credit card (% age 15+)                                27
 Owns a debit or credit card, female (% age 15+)                        27
 Owns a debit or credit card, male (% age 15+)                          27
 Owns a debit or credit card, rural (% age 15+)                          0
 Owns a debit or credit card, urban (% age 15+)                          0
 Population, total                                                       0
 Urban population (% of total population)                                0
 Rural population (% of total population)                                0
 Life expectancy at birth, total (years)                                 0
 Mortality rate, infant (per 1,000 live births)                          0
 Population density (people per sq. km of land area)                     0
 Poverty headcount ratio at national poverty lines (% of population)     0
 Population growth (annual %)                                            0
 Fertility rate, total (births per woman)                                0
 GDP per capita, PPP (constant 2021 international $)                     0
 dtype: int64}

## 2.4 clean FAO dataset

In [52]:
df_fao['country'] = df_fao['country'].replace(contry_code)
df_fao = df_fao.drop(df_fao[df_fao['country'].str.len()>=4].index)
df_fao_clean = cleanUp(df_fao)
df_fao_clean.head(10)

              Value US$, 2015 prices_Value Added (Agriculture, Forestry and Fishing)  \
country year
BGD     2011                                       27062.841538
        2012                                       28266.982540
        2013                                       29367.259943
        2014                                       31078.190269
        2015                                       32559.969107
        2016                                       33933.426983
        2017                                       35017.947008
        2018                                       36259.168433
        2019                                       37441.425058
        2020                                       38722.278287

              Value US$, 2015 prices_Value Added (Manufacture of food and beverages)  \
country year
BGD     2011                                                NaN
        2012                                        3669.694917
        2013                                                NaN
        2014                                                NaN
        2015                                                NaN
        2016                                                NaN
        2017                                                NaN
        2018                                        8075.724265
        2019                                                NaN
        2020                                        9224.303917

              Value US$, 2015 prices_Credit to Agriculture, Forestry and Fishing  \
country year
BGD     2011                                        3271.100803
        2012                                        3213.392664
        2013                                        3296.803356
        2014                                        3524.704970
        2015                                        3778.212713
        2016                                        4130.252070
        2017                                        4323.608872
        2018                                        4762.082962
        2019                                        4957.591367
        2020                                        4861.044882

              Use per area of cropland_Nutrient nitrogen N (total)
country year
BGD     2011                                             149.49
        2012                                             132.60
        2013                                             130.67
        2014                                             144.75
        2015                                             154.28
        2016                                             136.41
        2017                                             144.45
        2018                                             154.68
        2019                                             150.93
        2020                                             154.23

In [53]:
basic_stats(df_fao_clean)

{'countries (first 5)': ['BGD', 'BTN', 'BRN', 'KHM', 'IND'],
 'country_count': 16,
 'time_series': '2011 ~ 2024',
 'variable_count': 4,
 'observations_bycolumn': Value US$, 2015 prices_Value Added (Agriculture, Forestry and Fishing)    224
 Value US$, 2015 prices_Value Added (Manufacture of food and beverages)     57
 Value US$, 2015 prices_Credit to Agriculture, Forestry and Fishing        168
 Use per area of cropland_Nutrient nitrogen N (total)                      192
 dtype: int64}

- In this section, we collect 10 control variables from WDI, covering economic development, population estimatesand composition, poverty prevalence, and vital statistics. Our summary shows data coverage for 16 countries from 1960 to 2023.

- Among these indicators, except poverty headcount ratio has many missing values, all other 9 variables have a considerable amount of data to serve as background variables.

## Part3: merge dataset

## 3.1 Merge WB dataset and FAO dataset

In [54]:
df_merge_1 = merge_and_count(
    df_1 = df_wb_clean,
    df_2 = df_fao_clean,
    how = 'outer'
)
# df_merge_1.head(2)
basic_stats(df_merge_1)

Rows in df_1: 30, Countries in df_1: 15
Rows in df_2: 224, Countries in df_2: 16
Rows in merged DataFrame: 224, Countries in merged DataFrame: 16
Dropped countries from df_1: []

{'countries (first 5)': ['BGD', 'BRN', 'BTN', 'IDN', 'IND'],
 'country_count': 16,
 'time_series': '2011 ~ 2024',
 'variable_count': 40,
 'observations_bycolumn': Fixed Broadband Subscriptions (per 100 people)                              0
 Mobile Cellular Subscriptions (per 100 people)                              0
 Access to Electricity, rural (% of Rural Pop.)                              0
 Account (% age 15+)                                                        27
 Account, female (% age 15+)                                                27
 Account, male (% age 15+)                                                  27
 Account, rural (% age 15+)                                                  0
 Account, urban (% age 15+)                                                  0
 Financial institution account (% age 15+)                                  27
 Financial institution account, female (% age 15+)                          27
 Financial institution account, male (% age 15+)                            27
 Financial institution account, rural (% age 15+)                            0
 Financial institution account, urban (% age 15+)                            0
 Mobile money account (% age 15+)                                           13
 Mobile money account, female (% age 15+)                                   13
 Mobile money account, male (% age 15+)                                     13
 Mobile money account, rural (% age 15+)                                     0
 Mobile money account, urban (% age 15+)                                     0
 Own a mobile phone (% age 15+)                                              0
 Owns a debit or credit card (% age 15+)                                    27
 Owns a debit or credit card, female (% age 15+)                            27
 Owns a debit or credit card, male (% age 15+)                              27
 Owns a debit or credit card, rural (% age 15+)                              0
 Owns a debit or credit card, urban (% age 15+)                              0
 Population, total                                                           0
 Urban population (% of total population)                                    0
 Rural population (% of total population)                                    0
 Life expectancy at birth, total (years)                                     0
 Mortality rate, infant (per 1,000 live births)                              0
 Population density (people per sq. km of land area)                         0
 Poverty headcount ratio at national poverty lines (% of population)         0
 Population growth (annual %)                                                0
 Fertility rate, total (births per woman)                                    0
 GDP per capita, PPP (constant 2021 international $)                         0
 Value US$, 2015 prices_Value Added (Agriculture, Forestry and Fishing)    224
 Value US$, 2015 prices_Value Added (Manufacture of food and beverages)     57
 Value US$, 2015 prices_Credit to Agriculture, Forestry and Fishing        168
 Use per area of cropland_Nutrient nitrogen N (total)                      192
 dtype: int64}

## 2.6 save merged file

In [55]:
df_merge_1.to_csv('../Data/processed/temp/merged_final.csv', index=False)