# Milestone 2
- merge each one's dataset
- descriptive statistics
- visualization (put all vis into another notebook)
- pipeline
- regression

In [2]:
import pandas as pd

In [3]:
df_agri = pd.read_csv('../data/processed/Agriculture_data.csv')
#df_mobile = pd.read_csv('../data/processed/IMF_mobilemoney.csv')
df_con = pd.read_csv('../data/processed/control_var.csv')
df_gfi = pd.read_csv('../data/processed/merged_output_wide.csv')
df_staple = pd.read_csv('../data/processed/StapleFoodStability_adjusted.csv')
df_access= pd.read_csv('../data/processed/access_merged.csv')

In [13]:
df_agri.head(5)

,code,year,FarmCredit,ICTPolicy,ProductionValue,ProcessingValue,Fertilizer
0,BGD,2000,NaN,NaN,583661.0,NaN,158.108
1,BGD,2001,NaN,NaN,590372.0,NaN,174.590
2,BGD,2002,3178.321934,NaN,599004.0,NaN,188.639
3,BGD,2003,2942.973463,NaN,630569.0,NaN,160.267
4,BGD,2004,2974.393198,NaN,672025.0,NaN,170.671

In [14]:
# rename df_agri
df_agri = df_agri.rename(columns={'areaCode': 'code'})
df_agri.head(5)

,code,year,FarmCredit,ICTPolicy,ProductionValue,ProcessingValue,Fertilizer
0,BGD,2000,NaN,NaN,583661.0,NaN,158.108
1,BGD,2001,NaN,NaN,590372.0,NaN,174.590
2,BGD,2002,3178.321934,NaN,599004.0,NaN,188.639
3,BGD,2003,2942.973463,NaN,630569.0,NaN,160.267
4,BGD,2004,2974.393198,NaN,672025.0,NaN,170.671

In [7]:
df_access.head(5)

,country,year,Rural Access to Electricity(Percent of Population),Mobile Cellular Subscriptions (per 100 people),Fixed Broadband Subsciptions (per 100 people)
0,BGD,2024-01-01,NaN,NaN,NaN
1,BGD,2023-01-01,99.6,NaN,7.51447
2,BGD,2022-01-01,99.2,105.264249,7.17020
3,BGD,2021-01-01,98.5,108.909443,6.64247
4,BGD,2020-01-01,95.2,105.291163,6.04506

In [9]:
# reformat the year in df_access
# Convert full date (YYYY-MM-DD) to just year (YYYY)
df_access['year'] = pd.to_datetime(df_access['year']).dt.year

df_access = df_access.rename(columns={'country': 'code'})
df_access.head(5)

,code,year,Rural Access to Electricity(Percent of Population),Mobile Cellular Subscriptions (per 100 people),Fixed Broadband Subsciptions (per 100 people)
0,BGD,1970,NaN,NaN,NaN
1,BGD,1970,99.6,NaN,7.51447
2,BGD,1970,99.2,105.264249,7.17020
3,BGD,1970,98.5,108.909443,6.64247
4,BGD,1970,95.2,105.291163,6.04506

In [10]:
df_con.head(5)

,country,code,year,"Fertility rate, total (births per woman)","GDP per capita, PPP (constant 2021 international $)","Life expectancy at birth, total (years)","Mortality rate, infant (per 1,000 live births)",Population density (people per sq. km of land area),Population growth (annual %),"Population, total",Poverty headcount ratio at national poverty lines (% of population),Rural population (% of total population),Urban population (% of total population)
0,Bangladesh,BGD,1960,6.742,NaN,43.980,178.6,NaN,NaN,51828660.0,NaN,94.865,5.135
1,Bangladesh,BGD,1961,6.780,NaN,44.887,173.3,409.544042,2.818718,53310348.0,NaN,94.722,5.278
2,Bangladesh,BGD,1962,6.806,NaN,45.765,168.4,421.611324,2.903941,54881146.0,NaN,94.502,5.498
3,Bangladesh,BGD,1963,6.798,NaN,45.722,163.7,434.081601,2.914868,56504402.0,NaN,94.273,5.727
4,Bangladesh,BGD,1964,6.785,NaN,46.752,159.4,446.941492,2.919516,58178374.0,NaN,94.036,5.964

In [11]:
df_gfi.head(5)

,country,year,Account (% age 15+),Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)","Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, richest 60% (% of population ages 15+)",...,"Used a mobile phone or the internet to check account balance(% with a financial institution account, age 15+)","Used a mobile phone or the internet to pay bills, female (% age 15+)","Used a mobile phone or the internet to pay bills, male (% age 15+)","Used a mobile phone or the internet to pay bills, rural (% age 15+)","Used a mobile phone or the internet to pay bills, urban (% age 15+)",Used a mobile phone or the internet to send money (% age 15+),"Used a mobile phone or the internet to send money, female (% age 15+)","Used a mobile phone or the internet to send money, male (% age 15+)","Used a mobile phone or the internet to send money, rural (% age 15+)","Used a mobile phone or the internet to send money, urban (% age 15+)"
0,BGD,2024,NaN,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BGD,2023,NaN,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BGD,2022,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,BGD,2021,52.81,52.81,43.46,62.86,54.55,48.65,46.57,55.57,...,16.3,4.72,16.77,8.75,11.08,17.58,7.64,28.28,19.96,16.83
4,BGD,2020,NaN,..,..,..,..,..,..,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_gfi = df_gfi.rename(columns={'country': 'code'})
df_gfi.head(5)

,code,year,FarmCredit,ICTPolicy,ProductionValue,ProcessingValue,Fertilizer
0,BGD,2000,NaN,NaN,583661.0,NaN,158.108
1,BGD,2001,NaN,NaN,590372.0,NaN,174.590
2,BGD,2002,3178.321934,NaN,599004.0,NaN,188.639
3,BGD,2003,2942.973463,NaN,630569.0,NaN,160.267
4,BGD,2004,2974.393198,NaN,672025.0,NaN,170.671